<div class="container py-4">
  <div class="row align-items-center">
    <div mat-card-avatar class="mat-card-header-image mb-0 col-4"></div>
    <div class="col-8 d-flex flex-column">
      <h1 class="p-2 px-0 mb-0">Marvel Fan Club</h1>
      <small
        >Data provided by
        <a target="_blank" style="color: white" href="http://marvel.com"
          >Marvel</a
        >. © 2025 MARVEL</small
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center mt-5 mt-lg-3 centered-btn">
        <div class="google-btn mt-1 d-flex" (click)="auth.login()">
          <div class="google-icon-wrapper">
            <img class="google-icon" src="assets/google_logo.svg" />
          </div>
          <div class="btn-text">Sign in with Google</div>
        </div>
      </div>
    </div>
  </div>
</div>
