/.angular/cache
# Dot files
.DS_Store
.env
.idea
.vscode/
.cache/
# Build files
build/
dist/
out/
bin/
node_modules/
package-lock.json

# Logs
**/npm-debug.log
test_logs/

# Coverage
.nyc_output/
coverage/

# Firebase
.firebase
*-debug.log
.runtimeconfig.json
