.masonry-item {
  margin-bottom: 20px;
  background-color: #f1f1f1;
  background-size: cover;
  width: 340px;
}
.masonry-item img {
  width: 100%;
  min-height: 340px;
}
.masonry-center{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
