<div id="background"></div>
@if (images()) {
<section class="d-flex justify-content-end">
  <app-user-menu />
</section>
<div class="container d-flex justify-content-center my-3">
  <div class="row">
    <div class="col-12">
      <mat-slide-toggle
        class="play-btn-txt"
        [(ngModel)]="enterPlayMode"
        (ngModelChange)="setAppMode($event)"
        ><span class="text-white">Enter Play Mode</span></mat-slide-toggle
      >
    </div>
  </div>
</div>
@if (images().data.results.length > 0 && MODE === 'GALLERY') {
<div class="container gallery">
  <div class="row">
    @for (item of images().data.results; track item.id) {
    <div
      class="col-lg-4 col-sm-6 col-md-6 d-flex justify-content-center mb-4 gx-5"
    >
      <mat-card class="mat-card-container">
        <mat-card-header class="align-items-center">
          <div mat-card-avatar class="mat-card-header-image mb-0"></div>
          <ng-container>
            <mat-card-title class="p-2">{{
              item?.name | titlecase
            }}</mat-card-title>
          </ng-container>
        </mat-card-header>
        <div class="image-wrapper">
          <img
            mat-card-image
            width="300"
            height="420"
            [ngSrc]="getImageUrl(item)"
            priority
            alt="Data provided by Marvel. © 2025 MARVEL"
            class="mt-2"
          />
        </div>
      </mat-card>
    </div>
    }
  </div>
</div>
} @if(MODE === 'PLAY'){
<app-game-mode />
} } @if(MODE === 'GALLERY'){

<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="300"
  (scrolled)="doPagination()"
></div>
} @if (MODE === 'GALLERY' && loading() && !gameIsInPlay()) {
<app-loader />
}
