.card-text{
    font-family: 'Ephesis', cursive !important;
    font-size: 2em !important;
    line-height: 1em !important;
}
::ng-deep{
    body{
        background-image: none;
        background-color: #fff;
    }
}