/* You can add global styles to this file, and also import other style files */
// @import url(https://fonts.googleapis.com/css?family=Roboto:500);
@use "@angular/material" as mat;
// @import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@font-face {
  font-family: 'All-Pro-Heavy-Black';
  src: url('../src/assets/all-pro-sans-heavy.otf');
}
@font-face {
  font-family: 'All-Pro-Heavy';
  src: url('../src/assets/all-pro-sans-heavy.otf');
}
@font-face {
  font-family: 'All-Pro-Medium';
  src: url('../src/assets/all-pro-sans-medium.otf');
}
@font-face {
  font-family: 'All-Pro-Regular';
  src: url('../src/assets/all-pro-sans-regular.otf');
}
$my-custom-typography: mat.define-legacy-typography-config(
  $font-family: "All-Pro-Heavy-Black",
  $subheading-1: mat.define-typography-level(1.5em, 1, 400),
);
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($my-custom-typography);`
@include mat.all-legacy-component-typographies($my-custom-typography);
@include mat.legacy-core();

html,
body {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.body-background {
  background-image: url('./assets/landing-page/banner/landing-pg-1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;
  // background: #043369;
  color: white;
}
body {
  margin: 0;
  font-family: "All-Pro-Regular", "Helvetica Neue", sans-serif;
}
a:focus,
button:focus {
  outline: none !important;
}
a:hover {
  text-decoration: none;
}

.mat-h1,
.mat-headline-5,
.mat-typography h1 {
  font-family: "All-Pro-Heavy-Black", cursive;
  letter-spacing: normal;
  margin: 0 0 16px;
  font-size: 2em;
}
.mat-card-header-image {
  background-image: url('./assets/nfl-logo-sm.png');
  background-size: cover !important;
  height: 70px !important;
  width: 50px !important;
  border-radius: 0% !important;
  margin-left: 1em;;
  margin-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .mat-h1,
  .mat-headline-5,
  .mat-typography h1 {
    font-size: 1.25em;
    line-height: 1.35em;
  }
}
