/* You can add global styles to this file, and also import other style files */
// @import url(https://fonts.googleapis.com/css?family=Roboto:500);
@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
// $font-size,
//   $line-height: $font-size,
//   $font-weight: 400,
//   $font-family: null,
//   $letter-spacing: normal

$my-custom-typography: mat.define-typography-config(
  $font-family: "Ephesis",
  $subheading-1: mat.define-typography-level(1.5em, 1, 400),
);
@include mat.core($my-custom-typography);

html,
body {
  height: 100%;
  background-color: white;
}

.body-background {
  background-image: url(/assets/landing-page/banner/1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a:focus,
button:focus {
  outline: none !important;
}
a:hover {
  text-decoration: none;
}

.mat-h1,
.mat-headline,
.mat-typography h1 {
  font-family: "Ephesis", cursive;
  letter-spacing: normal;
  margin: 0 0 16px;
  font-size: 2em;
}
@media screen and (max-width: 768px) {
  .mat-h1,
  .mat-headline,
  .mat-typography h1 {
    font-size: 1.65em;
    line-height: 1.35em;
  }
}
