/* You can add global styles to this file, and also import other style files */
// @import url(https://fonts.googleapis.com/css?family=Roboto:500);
@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");

$my-custom-typography: mat.define-legacy-typography-config(
  $font-family: "Ephesis",
  $subheading-1: mat.define-typography-level(1.5em, 1, 400),
);
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($my-custom-typography);`
@include mat.all-legacy-component-typographies($my-custom-typography);
@include mat.legacy-core();

html,
body {
  height: 100%;
  // background-image: url(/assets/landing-page/banner/1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // background-color: #f4e7ec;
}

.body-background {
  background-image: url(/assets/landing-page/banner/1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // background-color: #f4e7ec;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a:focus,
button:focus {
  outline: none !important;
}
a:hover {
  text-decoration: none;
}

.mat-h1,
.mat-headline-5,
.mat-typography h1 {
  font-family: "Ephesis", cursive;
  letter-spacing: normal;
  margin: 0 0 16px;
  font-size: 2em;
}
@media screen and (max-width: 768px) {
  .mat-h1,
  .mat-headline-5,
  .mat-typography h1 {
    font-size: 1.25em;
    line-height: 1.35em;
  }
}
